body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.container { 
  max-width: 1440px;
  padding-left: 156px;  
  padding-right: 156px;
  margin-left: 0;
  margin-right: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Header begin */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 24px 156px; */
}

.page-header .header-nav {
  display: flex;
  gap: 76px;
}

.page-header .nav-list {
  display: flex;
  gap: 40px;
}

.page-header .contacts-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Header end */

/* Hero begin */

.hero-section {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.order-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;

  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* Hero end */

/* Approach begin */

.approach-section {
  background-color: #fff;
}

.approach-header {
  display: none;
}

.approach-list {
  display: flex;
  gap: 24px;
}

.approach-item {
}

.approach-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.approach-text {
  color: #434455;
}

/* Approach end */

/* Team begin */

.team-section {
  background-color: #f4f4fd;
}

.team-header {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding: 0 0 32px 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-photo {
}

/* .team-description {
  padding: 32px 16px;
} */

.team-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 16px 8px 16px;
  /* margin-top: 32px;
  margin-bottom: 8px; */
}

.team-position {
  color: #434455;
  padding: 0 16px;
}

/* Team end */

/* Portfolio begin */

.portfolio-header {
  /* line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; */
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.project-card {
  width: calc((100% - 2*24px)/3);
}

.card-photo {
}

.card-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.card-type {
  color: #434455;
}

/* Portfolio end */

/* Footer begin */

.page-footer {
  background-color: #2e2f42;
}

.page-footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

/* Footer end */
