body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* 

Body Medium
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

identical to box height, or 150% 
letter-spacing: 0.02em;

Iris
#4D5AE5

OCEAN
#404BBF

NAVY BLUE 
color: #2E2F42; 

GREEN
#31D0AA

SLATE
#434455

LIGHT SLATE
#8E8F99

cornflower
#E7E9FC

CLOUD
#F4F4FD

NAVY BLUE modal
#2E2F42

GREY
#2E2F42

WHITE
#FFFFFF

Dairy
#FCFCFC

*/



ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Header begin */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Header end */

/* Hero begin */

.hero-section {
    background-color: #2e2f42;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.order-button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.order-button:hover, 
.order-button:focus {
    background-color: #404bbf;
}

/* Hero end */

/* Approach begin */

.approach-section {
    background-color: #fff;
}

.approach-header {
    /* line-height: 1.2;
    letter-spacing: 0.02em; */
}

.approach-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.approach-text {
    color: #434455;
}

/* Approach end */

/* Team begin */

.team-section {
    background-color: #f4f4fd;
}

.team-header {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-card {
    background-color: #FFFFFF;
}

.team-photo {

}

.team-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-position {
    color: #434455;
}

/* Team end */

/* Portfolio begin */

.portfolio-header {
    /* line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; */
}

.portfolio-photo {

}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-type {
    color: #434455;
}

/* Portfolio end */

/* Footer begin */

.page-footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}

/* Footer end */
